@tailwind components;

@layer components {
  .list_after:after {
    content: '';
    flex: none;
    width: 1px;
    height: 90px;
    @apply bg-bg-overlay-03;
  }
  .banner_item:not(:first-child):before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    @apply bg-bg-overlay-03;
  }
}
